.box{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;

}
.wrapper{
    display: block;
    border: 2px solid red;
    height: 550px;
    width: 550px;
    margin-top: inherit;
}
.btn{
    background-color: yellow;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    color: rgb(255, 255, 0);
    transition-duration: .7s;
    background-color: rgba(255, 0, 0, 7);
}

.btn-block{
    background-color: gray;
    height: 100px;
    width: auto;
    margin-top: 10px;
}
button{
    display: inline;
    width: 150px;
    height: 50px;
    background-color: yellow;
    margin: 25px 0 0 10px;
    border: none;
}